html {
  height: 100%;
  width: 100%;
  background: #000000;
}

p {
  font-family: Varela Round, sans-serif;
  color: #ffffff;
  background: #404040;
  padding: 10px 10px;
  text-align: center;
  font-size: 25px;
  margin: 0px;
}

h2 {
  font-family: Varela Round;
  color: #ffffff;
}

h1 {
  font-family: Varela Round, sans-serif;
  color: #ffffff;
  text-align: center;
}

#heading {
  background: transparent;
  border-radius: 10px;
  height: 10px;
  width: 255px;
  box-shadow: 0 55px 0 0 #000;
}

.default {
  cursor: default;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom: 1px solid #606060;
}

.help {
  cursor: help;
  border-bottom: 1px solid #606060;
}

.pointer {
  cursor: pointer;
  border-bottom: 1px solid #606060;
}

.progress {
  cursor: progress;
  border-bottom: 1px solid #606060;
}

.wait {
  cursor: wait;
  border-bottom: 1px solid #606060;
}

.crosshair {
  cursor: crosshair;
  border-bottom: 1px solid #606060;
}

.text {
  cursor: text;
  border-bottom: 1px solid #606060;
}

.move {
  cursor: move;
  border-bottom: 1px solid #606060;
}

.no {
  cursor: not-allowed;
  border-bottom: 1px solid #606060;
}

.vert {
  cursor: ns-resize;
  border-bottom: 1px solid #606060;
}

.horz {
  cursor: ew-resize;
  border-bottom: 1px solid #606060;
}

.dgn1 {
  cursor: nwse-resize;
  border-bottom: 1px solid #606060;
}

.dgn2 {
  cursor: nesw-resize;
border-bottom-left-radius: 5px;
border-bottom-right-radius: 5px;
}

