html {
  height: 100%;
  width: 100%;
}

.dark {
  background: #000000;
}

.light {
  background: #FFFFFF;
}

p {
  font-family: Varela Round, sans-serif;
  padding: 10px 10px;
  text-align: center;
  font-size: 25px;
  margin: 0px;
}

h2 {
  font-family: Varela Round;
}

h1 {
  font-family: Varela Round, sans-serif;
  text-align: center;
}

.darkp {
  color: #ffffff;
  background-color: rgba(64,64,64,0.4);
}

.lightp {
  color: #000000;
  background-color: rgba(191, 191, 191, 0.4);
}

.darkh2 {
color: #ffffff;
}

.lighth2 {
color: #000000;
}

.darkh1 {
color: #ffffff;
}

.lighth1 {
color: #000000;
}

.colormode {
  float: right;
  text-decoration: none;
  font-size: 32px;
}

.footer {
  background-color: rgb(64, 64, 64);
  color: #41a0ff;
  font-family: Varela Round, sans-serif;
}

.lightfooter {
  background-color: rgb(191, 191, 191);
  font-family: Varela Round, sans-serif;
}

.default {
  cursor: default;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom: 1px solid rgba(96,96,96,0.4);
}

.help {
  cursor: help;
  border-bottom: 1px solid rgba(96,96,96,0.4);
}

.pointer {
  cursor: pointer;
  border-bottom: 1px solid rgba(96,96,96,0.4);
}

.progress {
  cursor: progress;
  border-bottom: 1px solid rgba(96,96,96,0.4);
}

.wait {
  cursor: wait;
  border-bottom: 1px solid rgba(96,96,96,0.4);
}

.crosshair {
  cursor: crosshair;
  border-bottom: 1px solid rgba(96,96,96,0.4);
}

.text {
  cursor: text;
  border-bottom: 1px solid rgba(96,96,96,0.4);
}

.move {
  cursor: move;
  border-bottom: 1px solid rgba(96,96,96,0.4);
}

.no {
  cursor: not-allowed;
  border-bottom: 1px solid rgba(96,96,96,0.4);
}

.vert {
  cursor: ns-resize;
  border-bottom: 1px solid rgba(96,96,96,0.4);
}

.horz {
  cursor: ew-resize;
  border-bottom: 1px solid rgba(96,96,96,0.4);
}

.dgn1 {
  cursor: nwse-resize;
  border-bottom: 1px solid rgba(96,96,96,0.4);
}

.dgn2 {
  cursor: nesw-resize;
border-bottom-left-radius: 5px;
border-bottom-right-radius: 5px;
}

