html {
  height: 100%;
  width: 100%;
  background: rgb(0,0,0);
  background: linear-gradient(132deg, rgba(0,0,0,1) 0%, rgba(43,43,43,1) 50%) no-repeat center center fixed; 
}

p {
  font-family: Varela Round, sans-serif;
  color: #ffffff;
  background-color: rgba(64,64,64,0.2);
  padding: 10px 10px;
  text-align: center;
  font-size: 25px;
  margin: 0px;
}

h2 {
  font-family: Varela Round;
  color: #ffffff;
}

h1 {
  font-family: Varela Round, sans-serif;
  color: #ffffff;
  text-align: center;
}

.default {
  cursor: default;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom: 1px solid rgba(96,96,96,0.2);
}

.help {
  cursor: help;
  border-bottom: 1px solid rgba(96,96,96,0.2);
}

.pointer {
  cursor: pointer;
  border-bottom: 1px solid rgba(96,96,96,0.2);
}

.progress {
  cursor: progress;
  border-bottom: 1px solid rgba(96,96,96,0.2);
}

.wait {
  cursor: wait;
  border-bottom: 1px solid rgba(96,96,96,0.2);
}

.crosshair {
  cursor: crosshair;
  border-bottom: 1px solid rgba(96,96,96,0.2);
}

.text {
  cursor: text;
  border-bottom: 1px solid rgba(96,96,96,0.2);
}

.move {
  cursor: move;
  border-bottom: 1px solid rgba(96,96,96,0.2);
}

.no {
  cursor: not-allowed;
  border-bottom: 1px solid rgba(96,96,96,0.2);
}

.vert {
  cursor: ns-resize;
  border-bottom: 1px solid rgba(96,96,96,0.2);
}

.horz {
  cursor: ew-resize;
  border-bottom: 1px solid rgba(96,96,96,0.2);
}

.dgn1 {
  cursor: nwse-resize;
  border-bottom: 1px solid rgba(96,96,96,0.2);
}

.dgn2 {
  cursor: nesw-resize;
border-bottom-left-radius: 5px;
border-bottom-right-radius: 5px;
}

